{{- if .Values.cache.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-cache-deployment
spec:
  selector:
    matchLabels:
      app: {{ .Release.Name }}-lotus-cache
  replicas: 2
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-lotus-cache
    spec:
      containers:
      - name: lotus-cache
        image: {{ .Values.cache.image }}
        imagePullPolicy: Always
        volumeMounts:
        - name: {{ .Release.Name }}-config-cache
          mountPath: /home/proxy
        ports:
          - containerPort: 8080
        resources:
          limits:
            memory: 12Gi
            cpu: 3
          requests:
            memory: 4Gi
            cpu: 500m
      volumes:
      - name: {{ .Release.Name }}-config-cache
        configMap:
          name: {{ .Release.Name }}-cache-cm
      nodeSelector:
{{ toYaml .Values.cache.nodeSelector.nodeLabel | indent 8 }}
{{- end }}
